<div style="display: flex; flex-flow: column;">

  <h2 style="width: 100%;"><%= @title %></h2>
  <br/>
  <div style="display: flex; flex-flow: column;">
    <p><%= @product.description %></p>
  </div>
  
</div>
